table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    margin-top: 10%;
    margin-left: 13%;   
    font-size: 14px;
    width: 70%;
  }
  .mat-elevation-z8 {
    margin-left: 13%;
    width: 70%;
  }
  
  td, th {
    width: 13%;
  }

ng-container {
    width: auto;
  }